{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block coachreports_active %}active{% endblock coachreports_active %}

{% block headcss %}
<link rel='stylesheet' type='text/css' href='{% static "css/coach_reports.css" %}'>
{% endblock headcss %}

{% block title %}Coach Reports{% endblock title %}

{% block content %}
    <div class="facility"><h2>{% blocktrans %}Coach Reports for {{ facility }}{% endblocktrans %} (<a href="?facility=select">{% trans "Change Facility" %}</a>)</h2></div>
    {% include "coach_reports_body.html" %}
{% endblock content %}