{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block currentusers_active %}active{% endblock currentusers_active %}

{% block headcss %}
<link rel='stylesheet' type='text/css' href='{% static "css/current_users.css" %}'>
{% endblock headcss %}

{% block title %}Current Users{% endblock title %}

{% block content %}
<div id="content">
    <div class="facility"><h2>{% blocktrans %}User List for {{ facility }}{% endblocktrans %} (<a href="?facility=select">{% trans "Change Facility" %}</a>)</h2></div>
    {% include "user_list_body.html" %}
{% endblock content %}