{% extends 'base_central.html' %}

{% block content %}

<style>
h2 { 
    margin-bottom: 25px;
}
input, textarea {
	width: 275px;
}

input.submit{
	margin-bottom: 100px;
	margin-top: 10px;
}

</style>

<form method="post" class="basic-form">
{% csrf_token %}

<div>
    <h2>
        {% if form.instance.pk %}Update Your Organization{% else %}Create An Organization{% endif %}
        <span class="glossary-link nudge-left" title="An Organization is an entity responsible for administering zones."></span>
    </h2>
</div>

{{ form.as_p }}

{% if form.instance.pk %}
<input type="submit" value="Update Organization" class="submit"/>
{% else %}
<input type="submit" value="Create Organization" class="submit"/>
{% endif %}

</form>

{% endblock content %}